.FullScreenController {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .FullScreenController {
    font-size: 20px;
    /* width: 15%; */
  }
}
