.title {
  color: #5586EB;
  font-weight: bold;
  font-size: 1.2rem;
}

.bodyModal {
  color: #353535;
}

.bodyModal table {
  margin: 0 auto;
  text-align: left;
}

.trash {
  color: #747474;
  user-select: none;
  cursor: pointer;
}

.trash:hover {
  color: #4374D9;
}

.closeSetting {
  margin-left: 90px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  box-shadow: 1px 1px #EAEAEA;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #42B882;
}

input:focus + .slider {
  box-shadow: 0 0 1px #42B882;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
