.Intro {
  text-align: left;
  background: url(../../assets/bg_3.jpg);
  height: 100%;
  box-sizing: border-box;
}

.Intro__logo {
  display: none;
  align-items: center;

  padding: 14px;
}

.Intro__logo img {
  width: 64px;
  height: 64px;
}

.Intro__logo span {
  font-size: 22px;
  font-weight: bold;
  padding: 4px;
}

.Intro__about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro__about_content {
  margin: 56px;
  padding: 14px;
}

.Intro__about_content h1 {
  margin: 0;
  font-size: 2.6rem;
}

.Intro__about_content p {
  font-size: 1.4rem;
}

._toHome {
  display: flex;
  justify-content: center;

  text-align: center;
  font-size: 18px;
  font-weight: bold;

  width: 250px;
  height: 45px;
  line-height: 45px;
  border: 1.5px solid white;

  cursor: pointer;
}

.Intro__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inc {
  display: flex;
  justify-content: center;
  margin: 14px;

  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.open_comp {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 160px;
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.open_comp h2 {
  margin: 8px;
}

.Intro_facebook_page {
  display: flex;
  justify-content: center;

  padding: 24px;
}

.Intro__contact {
  text-align: right;
  padding: 14px;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .Intro__logo {
      display: flex;
  }

  .Intro__about_content {
      margin: 0;
      padding: 14px;
  }

  ._toHome {
      width: 100%;
  }

  .Intro__info {
      flex-direction: column;
      justify-content: center;
  }

  .open_comp {
      width: 100%;
  }
}