.Header {
  display: flex;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 56px;
  left: 0;
  top: 0;
  /* background-color: #333333; */
  transition: .3s;
  z-index: 10;
}

.logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.logo_content {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 25px;
  font-weight: bold;
  padding: 8px;
  /* line-height: 56px; */
}

.logo img {
  width: 40px;
}

.menu {
  flex-grow: 2;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding-left: 0;
}

.menu ul {
  list-style: none;
}

.menu li {
  margin: 0 24px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.menu-cog {
  font-size: 21px;
}

/* .Header-icon a:visited {
  color: white;
}

.Header-icon a:hover {
  color: #D5D5D5;
}

.Header-icon:hover {
  color: #D5D5D5;
} */

.intro {
  position: absolute;
  font-size: 25px;
  right: 53px;
}

.setting {
  right: 14px;
}

@media screen and (max-width: 960px) {
  .menu {
    right: 14px;
  }

  .menu li {
    margin: 0 14px;
  }
}

@media screen and (max-width: 800px) {
  .Header {
    display: none;
  }
}
